@import './variables.scss';

.form__container{
    display: flex;
    align-items: center;
    height: calc(100vh - 209px);
    justify-content: center;

}

.form--sign{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    background: $dark-color;
    color: $primary-color;

    input{
        width: calc(100% - 50px);
        padding: 10px;
        outline: 2px solid $primary-color;
        border: none;
        border-radius: 10px;
    }

    .form--errors{
        display: none;
        background: $primary-color;
        color: $dark-color;
        font-weight: bold;
        padding: 10px;
    }

    input::placeholder{

        z-index: 2;
        font-size: 18px;
    }

    button{
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: $primary-color;
        color: $dark-color;
        transition: 1s;
        // color: #0be9a2;
        // background-color: #066648;
        &:hover{
            box-shadow: 0px 5px 9px -2px $primary-color;
            transform: translateY(-5px);
        }
        &:focus{
            transition: 0s;
            border: 1px solid #fff;
        }
        cursor: pointer;
    }
}

@media(max-width: 600px){
    // .form__container{
    //     margin-top: 100px;
    // }
}