@import "./variables.scss";


:root{
    background: $bg-color;
    font-family: "Montserrat";
    overflow-x: hidden;
}

body, html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
// p, h1, h2, h3, h4, h5, h6{
//     font-family: "Montserrat";
// }
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}


@media(max-width: 600px){
    
}