@import "./variables.scss";


:root{
    // background: url('./assets/images/background.svg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-size:cover;
    // background-position: 90deg;
    font-family: "Montserrat";
    overflow-x: hidden;
}

body, html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.background--animated{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    top: 100px;
    background: url(./assets/images/background2.svg) 0 0;
    background-repeat: repeat;
}
// p, h1, h2, h3, h4, h5, h6{
//     font-family: "Montserrat";
// }
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}


@media(max-width: 600px){
    .background--animated{
        background-size: cover;
        top: 0;
        height: 100dvh;
    }
}