.transition__image{
    position: absolute;
    transform: rotate(230deg) translateX(-160px);
    display: flex;
    top: 0;
    width: 1000px;
    z-index: 9999999999999999999999;
    transition: 0.1s;
}